body {
    background-color: #202020;
    color: white;
    font-family: sans-serif;
}

.status_group {
    border: 1px solid black;
    border-radius: 25px;
    padding: 0;
    margin: 10px;
    background-color: #202040;
    display: inline-block;
}

.status_group_title {
    border-radius: 25px 25px 0 0;
    padding: 5px 0 5px 25px;
    background-color: #202080;
}

.status_lights {
    padding: 15px 25px 15px 25px;
}

a.small_status {
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.status_color_STEADY_STATE {
    background-color: green;
}

.status_color_STABILIZING {
    background-color: red;
}

